<div id="container">
	<div id="left_nav_bar">
		<div id="exit_button" class="nav_btn">
			<a href="#"><img src="gosourca/interfaceimages/exit_button.png"></img></a>
		</div>
		<div id="menu_button" class="nav_btn">
			<a href="#"><img src="interfaceimages/menu_button.png"></img></a>
		</div>
		<div id="back_button" class="nav_btn">
			<a href="#"><img src="/interfaceimages/back_button.png"></img></a>
		</div>
		<div id="forward_button" class="nav_btn">
			<a href="#"><img src="interfaceimages/forward_button.png"></img></a>
		</div>
		<div id="settings_button" class="nav_btn">
			<a href="#"><img src="interfaceimages/settings_button.png"></img></a>
		</div>
		<div id="buyer_photo" class="profile_photo_large">
			<img src="buyer_photo.png"></img>
		</div>
		<div id="manufacturer_photo" class="profile_photo_large">
			<img src="manufacturer_photo.png"></img>
		</div>
		<div id="time_date_wiget">
			<img src="interfaceimages/locationpin.png"></img>
			<p id="location">Guangzhou, China 
			</p>
			<p id="time">9:59AM
			</p>
			<p id="date">10
			</p>
			<p id="day_of_week">Wednesday
			</p>
		</div>
		<div id="logo">
			<img src="interfaceimages/logo.png"></img>
		</div>


	</div>
	<div id="messages_container">
	</div>
	<div id="file_manage_container">
	</div>
	<div id="timeline_container">
	</div>
	<div id="logistics_container">
	</div>
</div>